@model Vidly.Models.Movie
@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<ul>
    <li>@Model.Genre.DisplayName</li>
    <li>@Model.ReleaseDate.ToShortDateString()</li>
    <li>@Model.DateAdded.ToShortDateString()</li>
    <li>@Model.QuantityInStock</li>
</ul>
